:root{
  --bg-gray: #fafafa ;
  --bg-white: white;
  --text-white: white;
}

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
    background: var(--bg-gray);
    /* position: relative; */
}

#nav-wrapper2{
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}


h1{
    text-align: center;
    font-size: 60px;
    margin-top: 150px;
}

span{
    color: orange;
}

#people-container2{
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    gap: 50px 20px;
    margin: 70px auto;
    background: var(--bg-gray);
    position: relative !important;

}

.people-card{
    width: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    cursor: pointer;
    gap: 10px;
    height: 500px;
    border: 2px solid red;

    .image{
        width: 100%;
    }

    .name-wrap{
        display: flex;
        align-items: center;
    }

    .see-more{
        display: none;
    }

    .orange-line{
        background-color: orange;
        height: 2px;
        width: 100px;
    }

    .overlay{
      display: none;
      flex-direction: column;
      gap: 10px;
      background-color: #c7e8fd;
      height: 500px; 
    }

}



.people-card:hover .overlay{
  display: flex;
  /* transform: translateY(-450px); */
  /* position: absolute;
  top: 0;
  left: 0; */
  


}

.people-card:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

footer{
            padding: 100px 25px 0;
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-bottom: 100px
        }

        #footer-div1{
            display: flex;
            justify-content: space-between;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        #footer-div1-div2{
          display: flex;
          justify-content: flex-start;
          gap: 100px;
        }

        #footer-div1 a{
            text-decoration: none;
            color: black;
        }

        #footer-div1-inner-wrapper{
          display: flex;
          gap: 100px;
          margin-top: 50px;
        }

        #footer-div2{
          display: flex;
          flex-direction: column;
          gap: 50px;
        }

        .footer-div1-div{
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-size: 16px;
        }

        .footer-div1-div > p{
            color: grey;
            font-weight: bold;
        }

        .footer-div1-div a{
          display: flex;
          flex-direction: column;
          width: fit-content;
        }

        .footer-div1-div a:hover .hov-slider {
          transform: scaleX(1);
          transform-origin: left;
        }
        .footer-div1-div a:not(:hover) .hov-slider {
          transform: scaleX(0);
          transform-origin: right;
        }

        .hov-slider-cont {
      height: 1.5px;
      background-color: transparent;
      width: 100%;
      overflow: hidden;
    }

    .hov-slider {
      background-color: orange;
      height: 100%;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }



    @media only screen and (max-width: 600px){
      h1{
        font-size: 25px;
        text-align: center;
      }
    }

